* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2235;
  color: white;
}

.personal-image {
  width: 350px;
  height: 500px;
  border-radius: 20px;
}

.name {
  color: #ff4a57;
  font-size: 30px;
  font-weight: bold;
}
